@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 175 66% 51%;
    --primary-foreground: 218 9% 14%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 205 100% 84%;
    --accent-foreground: 218 9% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 175 66% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 7% 15%;
    --foreground: 0 0% 98%;
    --card: 220 7% 19%;
    --card-foreground: 0 0% 98%;
    --popover: 220 7% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 175 66% 51%;
    --primary-foreground: 218 9% 14%;
    --secondary: 220 7% 23%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 7% 23%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 205 100% 84%;
    --accent-foreground: 218 9% 14%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 7% 26%;
    --input: 220 7% 21%;
    --ring: 175 66% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .animate-pulse-slow {
    animation: pulse-slow 8s infinite ease-in-out;
  }
  .animate-pulse-slower {
    animation: pulse-slower 12s infinite ease-in-out;
  }
}
